@page "/playerjs"
@inherits AppComponentBase

<div class="container">
    
    <div id="playerjs-player" class="player"></div>
    <textarea class="log" readonly disabled value="@_log"></textarea>
</div>